* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ffffff, #69e9ff);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  font-weight: bold;
  border: 2px solid purple;
  padding: 5px 10px;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

/* LEFT */
.left {
  max-width: 500px;
}

.tag {
  color: red;
  margin-bottom: 15px;
  font-size: 16px;
}

.left h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.sub {
  font-size: 14px;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.primary {
  background: #009991;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.secondary {
  background: transparent;
  border: 1px solid #009991;
  padding: 12px 20px;
  color: #009991;
  border-radius: 10px;
  cursor: pointer;
}

/* RIGHT */
.right img {
  width: 400px;
  margin-left: -20%;
}
/* MOBILE */
@media (max-width: 768px) {

  nav {
    display: none; /* some menu */
  }

  header::after {
    content: "☰";
    font-size: 22px;
  }

  .hero {
    flex-direction: column;
    text-align: left;
    padding: 20px;
  }

  h1 {
    font-size: 28px;
    line-height: 1.3;
  }

  .buttons {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .primary,
  .secondary {
    width: 48%;
    text-align: center;
  }

  .right {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .right img {
    width: 280px;
  }
}
